# conda-requirements.txt
# Conda packages required for gsshapy.
# Create the environment by running the following command (after installing Miniconda):
# os: linux
#   $ conda create -n gsshapy
#   $ source activate gsshapy
#   (gsshapy)$ conda config --add channels conda-forge
#   (gsshapy)$ conda install --file=conda-requirements.txt

affine
appdirs
mapkit
psycopg2
# pynio does not work on Windows or Python 3
# pynio
pyyaml
rapidpy
timezonefinder
utm
wrf-python
